<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrap everything</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>
    <form action="/submit" method="post" class="row g-3">
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Enter Your URL Here</label><br>
          <input name="url" type="text" class="form-control" id="inputPassword2">
        </div>
        <input type="submit" onclick =  ButtonFor()>
      </form>
</body>
</html>
